<div class="text-center">
<img src="{{vinyl.imgLink}}" alt="Album Cover">
<h2>{{vinyl.artist}}</h2>
<h2>{{vinyl.albumName}}</h2>
<h6>Release Date:{{vinyl.releaseDate}}</h6> 

<h3>Ratings</h3>
{{#each vinyl.reviews}}
    <p>{{userName}}</p>
   <p>{{content}}</p>

{{/each}}

{{!-- <div>
    <h2>Rating</h2>
    {{#each vinyl.ratings}}
        <p>{{content}}</p>
    {{/each}}  
</div> --}}

<h3>Add it a review</h3>

<form action="/vinyls/{{userId}}/chirps" method="POST">
    <div>
        <input type="text" name="content" placeholder="content" />
    </div>
    <button class="btn" type="submit">Create Tweet</button>
</form>

<a href="/{{vinyl._id}}/edit">
<button class="btn btn-outline-danger" type="submit">Edit Album</button>
</a>




 
