<p>{{vinyl.artist}}</p>
<p>{{vinyl.albumName}}</p>
<p>{{vinyl.releaseDate}}</p> 
<img src="{{vinyl.imgLink}}" alt="Album Cover">
{{#each vinyl.reviews}}
<p>{{rating}}</p>
<p>{{content}}</p>
{{/each}}
  