<p>{{vinyl.artist}}</p>
<p>{{vinyl.albumName}}</p>
<p>{{vinyl.releaseDate}}</p> 
<img src="{{vinyl.imgLink}}" alt="Album Cover">
{{#each vinyl.reviews}}
    {{!-- each review --}}
    {{#each rating}}
        {{!-- each rating --}}
        Star {{starReview}}
    {{/each}}  
<p>{{content}}</p>
{{/each}}
  